extends layout

block meta

  title SeattleJS - Learn Frontend Testing
  meta(name='description', content='Learn how to test frontend JavaScript code in your web applications.')
  meta(name='author', content='Ryan Roemer')

block slides

  section#title
    h1 Learn Frontend Testing
    h3
      a(href="http://www.meetup.com/seattlejs/") Seattle JS
      |  -&nbsp;
      a(href="http://www.meetup.com/seattlejs/events/139993642/") Oct. 16th, 2013
    p
      a(href='http://loose-bits.com') Ryan Roemer
      |  |&nbsp;
      a(href='http://twitter.com/ryan_roemer') @ryan_roemer
    p
      a(href='http://twitter.com/FormidableLabs') @FormidableLabs

  section
    section
      h2 Sponsors

    section
      div
        a.image(href="http://formidablelabs.com")
          img(class="logo-white",
              alt="Formidable Labs",
              src="img/sponsors/formidable.png",
              width="80%")

    section
      div
        a.image(href="http://redfin.com")
          img(class="logo-white",
              alt="Redfin",
              src="img/sponsors/redfin.png",
              width="75%")

  section
    :markdown
      ## Mentors

      Try to keep pace with the presentation, but side conversations are
      encouraged and don't let us stop any good directions.

      And, **thanks**!

  section
    section
      :markdown
        ## Motivation

        Web applications are increasingly becoming **frontend heavy**.

        We need to **verify** app logic and behavior, and that
        means braving the browser.

    section
      :markdown
        ## So let's test

        **Backend** is straightforward and easy

        ... but what about the frontend?

    section
      :markdown
        ## Frontend testing

        **Frontend** testing is difficult and error-prone.

        * Asynchronous events, timing
        * Browser idiosyncracies
        * State of testing technologies

    section
      h2 Here's where I come in
      div
        a.image(href="http://backbone-testing.com")
          img.book(alt="Backbone.js Testing",
                   src="img/sponsors/backbone-testing.jpg")

    section
      p ... so let's get started with a modern frontend test stack.

    section
      h2 But to sneak ahead

      a(href='http://github.com/formidablelabs/learn-frontend-testing')
        | http://github.com/formidablelabs/learn-frontend-testing

      //- git clone https://github.com/FormidableLabs/learn-frontend-testing.git
      pre
        code.text.no-highlight .
          $ git clone https://github.com/FormidableLabs/
                      learn-frontend-testing.git

  section
    section
      :markdown
        ## Overview

        * Some code to work with
        * Installation and test page
        * Suites
        * Assertions
        * Fakes

    section
      :markdown
        ## We will learn how to

        * Hook frontend JS to tests
        * Write assertions against behavior
        * Fake application behavior
        * Run and verify the tests

    section
      :markdown
        ## Things we're **not** going to cover

        * TDD / BDD
        * Application development
        * Functional testing
        * Performance testing

  section
    section
      :markdown
        ## Coding time

        We're going to test two simple functions:

        * Title Case
        * Camel Case

      pre
        code.text.no-highlight .
          # Copy the skeleton application.
          $ cp -r skeleton MY_APP_NAME
      //-

    section
      :markdown
        ## Project Structure

        Start with the "skeleton" application.

      pre
        code.text.no-highlight .
          skeleton/
            js/
              app/
                title-case.js
                camel-case.js
            camel.html
      //-

    section
      h2 Title Case
      a(href="skeleton/js/app/title-case.js") skeleton/js/app/title-case.js
      pre
        code.javascript
          include skeleton/js/app/title-case.js

    section
      h2 Camel Case
      a(href="skeleton/js/app/camel-case.js") skeleton/js/app/camel-case.js
      pre
        code.javascript
          include skeleton/js/app/camel-case.js

    section
      h2 Camel Case Demo
      a(href="skeleton/camel.html") skeleton/camel.html
      pre
        code.text.no-highlight .
          # Create the demo page.
          $ vim camel.html

  section
    section
      h2 Our test harness

    section
      :markdown
        ## Test Libraries

        * **[Mocha](http://visionmedia.github.com/mocha/)**: Framework
        * **[Chai](http://chaijs.com/)**: Assertions
        * **[Sinon.JS](http://sinonjs.org/)**: Fakes - spies and stubs.

    section
      :markdown
        ## Directory layout

        A combined structure.

      pre
        code.text.no-highlight .
          APP/
            js/
              app/...
              lib/
                chai.js
                mocha.js
                mocha.css
                sinon.js
              spec/
                title-case.spec.js
                ...
            test.html
            camel.html
      //-

    section
      :markdown
        ## The test page

        Our first task is creating a page that will run our tests.

        [test/js/test.html](test/js/test.html)

  section
    :markdown
      ## What we've covered

      * Test harness
      * Suites
      * Assertions
      * Fakes

  section
    :markdown
      ## Additional Topics

      * Automation
      * TDD / BDD
      * Functional testing
      * Performance testing

  section
    h1 Thanks!
    p.last
      a(href='http://loose-bits.com') Ryan Roemer
      |  |&nbsp;
      a(href='http://twitter.com/ryan_roemer') @ryan_roemer
    hr(width="25%")
    p.last
      //- TODO: Bitly
      a(href='http://formidablelabs.github.com/learn-frontend-testing') formidablelabs.github.com/learn-frontend-testing
    hr(width="25%")
    p.last
      a(href='http://backbone-testing.com') backbone-testing.com


