extends layout

block meta

  title SeattleJS - Learn Frontend Testing
  meta(name='description', content='Learn how to test frontend JavaScript code in your web applications.')
  meta(name='author', content='Ryan Roemer')

block slides

  section#title
    h1 Learn Frontend Testing
    h3
      a(href="http://www.meetup.com/seattlejs/") Seattle JS
      |  -&nbsp;
      a(href="http://www.meetup.com/seattlejs/events/139993642/") Oct. 16th, 2013
    p
      a(href='http://loose-bits.com') Ryan Roemer
      |  |&nbsp;
      a(href='http://twitter.com/ryan_roemer') @ryan_roemer
    p
      a(href='http://twitter.com/FormidableLabs') @FormidableLabs

  section
    section
      h2 Sponsors

    section
      div
        a.image(href="http://formidablelabs.com")
          img(class="logo-white",
              alt="Formidable Labs",
              src="img/sponsors/formidable.png",
              width="80%")

    section
      div
        a.image(href="http://redfin.com")
          img(class="logo-white",
              alt="Redfin",
              src="img/sponsors/redfin.png",
              width="75%")

  section
    :markdown
      ## Mentors

      Try to keep pace with the presentation, but side conversations are
      encouraged and don't let us stop any good directions.

      And, **thanks**!

  section
    section
      :markdown
        ## Motivation

        Web applications are increasingly becoming **frontend heavy**.

        We need to **verify** app logic and behavior, and that
        means braving the browser.

    section
      :markdown
        ## So let's test

        **Backend** is straightforward and easy

        ... but what about the frontend?

    section
      :markdown
        ## Frontend testing

        **Frontend** testing is difficult and error-prone.

        * Asynchronous events, timing
        * Browser idiosyncracies
        * State of testing technologies

    section
      h2 Here's where I come in
      div
        a.image(href="http://backbone-testing.com")
          img.book(alt="Backbone.js Testing",
                   src="img/sponsors/backbone-testing.jpg")

    section
      :markdown
        ... so let's get started with a modern frontend test stack.

  section
    section
      :markdown
        ## Overview

        * Some code to work with
        * Installation and test page
        * Suites
        * Assertions
        * Fakes

    section
      :markdown
        ## We will learn how to

        * Hook frontend JS to tests
        * Write assertions against behavior
        * Fake application behavior
        * Run and verify the tests

    section
      :markdown
        ## Things we're **not** going to cover

        * TDD / BDD
        * Application development
        * Functional testing
        * Performance testing

  section
    section
      :markdown
        ## Coding time

        We're going to write two simple functions that we'll test

        * Title Case
        * Camel Case

    section
      :markdown
        ## Create a project

        Let's create structure for our JS files.

      pre
        code.text.no-highlight .
          # You project directory (e.g., "test/")
          $ cd PATH/TO/PROJECT

          # Create the directories
          $ mkdir js
          $ mkdir js/app

          # Create empty files
          $ touch js/app/title-case.js
          $ touch js/app/camel-case.js

    section
      h2 Title Case
      a(href="test/js/app/title-case.js") test/js/app/title-case.js
      pre
        code.javascript
          include test/js/app/title-case.js

    section
      h2 Camel Case
      a(href="test/js/app/camel-case.js") test/js/app/camel-case.js
      pre
        code.javascript
          include test/js/app/camel-case.js

    section
      h2 Camel Case Demo
      a(href="test/camel.html") test/camel.html

  section
    section
      h2 Our test harness

    section
      :markdown
        ## Test Libraries

        * **[Mocha](http://visionmedia.github.com/mocha/)**: Framework
        * **[Chai](http://chaijs.com/)**: Assertions
        * **[Sinon.JS](http://sinonjs.org/)**: Fakes - spies and stubs.

    section
      :markdown
        ## Directory layout

        A combined structure.

      pre
        code.text.no-highlight .
          APP/
            app/
              title-case.js
              ...
            lib/
              mocha.js
              ...
            spec/
              title-case.spec.js
              ...
            test.html
            index.html

    section
      :markdown
        ## The test page

        Our first task is creating a page that will run our tests.

        [test/js/test.html](test/js/test.html)

  section
    :markdown
      ## What we've covered

      * Test harness
      * Suites
      * Assertions
      * Fakes

  section
    :markdown
      ## Additional Topics

      * Automation
      * TDD / BDD
      * Functional testing
      * Performance testing

  section
    h1 Thanks!
    p.last
      a(href='http://loose-bits.com') Ryan Roemer
      |  |&nbsp;
      a(href='http://twitter.com/ryan_roemer') @ryan_roemer
    hr(width="25%")
    p.last
      //- TODO: Bitly
      a(href='http://formidablelabs.github.com/learn-frontend-testing') formidablelabs.github.com/learn-frontend-testing
    hr(width="25%")
    p.last
      a(href='http://backbone-testing.com') backbone-testing.com


