extends layout

block meta

  title SeattleJS - Learn Frontend Testing
  meta(name='description', content='Learn how to test frontend JavaScript code in your web applications.')
  meta(name='author', content='Ryan Roemer')

block slides

  section#title
    h1 Learn Frontend Testing
    h3
      a(href="http://www.meetup.com/seattlejs/") Seattle JS
      |  -&nbsp;
      a(href="http://www.meetup.com/seattlejs/events/139993642/") Oct. 16th, 2013
    p
      a(href='http://loose-bits.com') Ryan Roemer
      |  |&nbsp;
      a(href='http://twitter.com/ryan_roemer') @ryan_roemer
    p
      a(href='http://twitter.com/FormidableLabs') @FormidableLabs

  section
    section
      h2 Sponsors

    section
      div
        a.image(href="http://formidablelabs.com")
          img(class="logo-white",
              alt="Formidable Labs",
              src="img/sponsors/formidable.png",
              width="80%")

    section
      div
        a.image(href="http://redfin.com")
          img(class="logo-white",
              alt="Redfin",
              src="img/sponsors/redfin.png",
              width="75%")

    section
      div
        a.image(href="https://www.codefellows.org/")
          img(class="logo-white",
              alt="Code Fellows",
              src="img/sponsors/codefellows.png",
              width="40%")

  section
    :markdown
      ## Mentors

      Try to keep pace with the presentation, but side conversations are
      encouraged and don't let us stop any good conversations.

      And, **thanks**!

  section
    :markdown
      ## Motivation

      * TODO HERE
      * Backend testing is very familiar and relatively straightforward.
      * Frontend testing is difficult and error-prone
        * Browser idiosyncracies

  section
    :markdown
      ## Overview

      * A basic test page
      * Suites
      * Assertions
      * Fakes
      * Automation

    //- TODO: Reconsider time each example takes, etc.

  section
    :markdown
      ## A basic test page

      * Installation

      ```
      var foo = "bar";
      var obj = {
        hi: "there";
      }
      ```

  section
    h1 Thanks!
    p.last
      a(href='http://loose-bits.com') Ryan Roemer
      |  |&nbsp;
      a(href='http://twitter.com/ryan_roemer') @ryan_roemer
    hr(width="25%")
    p.last
      //- TODO: Bitly
      a(href='http://formidablelabs.github.com/learn-frontend-testing') formidablelabs.github.com/learn-frontend-testing
    hr(width="25%")
    p.last
      a(href='http://backbone-testing.com') backbone-testing.com


